page-view-all-classifieds {}

[dir=rtl] page-view-all-classifieds ion-card-content {
    padding-left: 2px !important;
    padding-right: 2px !important;
}

[dir=ltr] page-view-all-classifieds ion-card-content {
    padding-left: 2px !important;
    padding-right: 2px !important;
}