page-force-update {
    .matter_style {
        color: gray;
        font-size: 1.6em;
    }
    .button_style {
        text-align: center;
        padding-top: 15%;
    }
    .whole_div {
        margin-top: 25%;
        height: 100%;
    }
    .scroll-content {
        overflow: hidden;
    }
}