<!--
  Generated template for the SuggestPopupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <div class="back-box">
        <ion-grid no-padding>
            <ion-row no-padding>
                <ion-col col-2 (click)="goback()">
                    <p class="main icon-back"></p>
                </ion-col>
                <ion-col col-8>
                    <p [ngClass]="{'rtl_align':this.global_items.App_direction=='rtl'}">{{this.global_items.do_translation('Suggest Restaurants')}}</p>
                </ion-col>
            </ion-row>
        </ion-grid>

    </div>
</ion-header>
<ion-content no-padding style="background: #f9f9f9">
    <div>
        <ion-list padding>

            <!--add image start-->
            <div>
                <p>{{this.global_items.do_translation('Upload Photo (Max 5)')}}</p>
                <ion-row>
                    <multiple-image [count]=5 (onupload)="post_suggest($event)"></multiple-image>
                </ion-row>
            </div>
            <!--add image stop-->

            <p>{{this.global_items.do_translation('Name')}} <span class="error" *ngIf="!title" danger> *</span></p>
            <ion-item class="outline">
                <ion-input type="text" [(ngModel)]="title" placeholder="{{this.global_items.do_translation('Name')}}" maxlength="100"></ion-input>
            </ion-item>

            <p>{{this.global_items.do_translation('Average Price')}} <span class="error" *ngIf="!average_price" danger></span></p>
            <ion-item class="outline">
                <ion-input type="number" [(ngModel)]="average_price" placeholder="{{this.global_items.do_translation('Average Price')}}"></ion-input>
            </ion-item>

            <p>{{this.global_items.do_translation('Working hours')}} <span class="error" *ngIf="!meals" danger> </span></p>
            <ion-item class="outline">
                <ion-input type="text" [(ngModel)]="meals" placeholder="{{this.global_items.do_translation('Working hours')}}"></ion-input>
            </ion-item>

            <p>{{this.global_items.do_translation('A Must Try')}} <span class="error" *ngIf="!good_for" danger> </span></p>
            <ion-item class="outline">
                <ion-input type="text" [(ngModel)]="good_for" placeholder="{{this.global_items.do_translation('A Must Try')}}"></ion-input>
            </ion-item>

            <p>{{this.global_items.do_translation('Location')}} <span class="error" *ngIf="!location" danger> </span></p>
            <ng4geo-autocomplete [userSettings]="userSettings" (componentCallback)="autoCompleteCallback1($event)"></ng4geo-autocomplete>

            <!-- 
            <p>Venue <span class="error" *ngIf="!venue" danger> *</span></p>
            <ion-item class="outline">
                <ion-input type="text" [(ngModel)]="venue" placeholder="Venue"></ion-input>
            </ion-item> -->

            <p>{{this.global_items.do_translation('Cuisine')}} <span class="error" *ngIf="!cuisine" danger> </span></p>
            <ion-item class="outline">
                <ion-input type="text" [(ngModel)]="cuisine" placeholder="{{this.global_items.do_translation('Cuisine')}}"></ion-input>
            </ion-item>

            <p>{{this.global_items.do_translation('Features')}} <span class="error" *ngIf="!features" danger> </span></p>
            <ion-item class="outline">
                <ion-input type="text" [(ngModel)]="features" placeholder="{{this.global_items.do_translation('Features')}}"></ion-input>
            </ion-item>

            <p>{{this.global_items.do_translation('Contact Info')}} <span class="error" *ngIf="!contact_info" danger> </span></p>
            <ion-item class="outline">
                <ion-input type="text" [(ngModel)]="contact_info" placeholder="{{this.global_items.do_translation('Contact Info')}}"></ion-input>
            </ion-item>


            <p>{{this.global_items.do_translation('Category')}} <span class="error" *ngIf="!category_id" danger> *</span></p>
            <ion-item class="outline">
                <ion-label>{{this.global_items.do_translation('Choose Category')}}</ion-label>
                <ion-select [(ngModel)]="category_id" (ionChange)="choose_categories($event)" name="category" multiple="true" okText="{{global_items.do_translation('OK')}}" cancelText="{{global_items.do_translation('CANCEL')}}">
                    <ion-option *ngFor="let category of categories_json_list.data" [value]="category.id">
                        {{category.name}}
                    </ion-option>
                </ion-select>
            </ion-item>

            <p>{{this.global_items.do_translation('Description')}} <span class="error" *ngIf="!description" danger> *</span></p>
            <ion-item class="outline">
                <ion-textarea [(ngModel)]="description" placeholder="{{this.global_items.do_translation('Description')}}" maxlength="200"></ion-textarea>
            </ion-item>


            <div>
                <ion-item style="background: transparent;padding-top: 10px" *ngIf="this.global_items.App_direction=='ltr'">
                    <ion-checkbox (ionChange)="isAccepted($event)"></ion-checkbox>
                    <ion-label>I accept all <span style="color: #22b573" (click)="goTO_terms()">terms & conditions</span></ion-label>
                </ion-item>

                <ion-item style="background: transparent;padding-top: 10px" *ngIf="this.global_items.App_direction=='rtl'">
                    <ion-checkbox (ionChange)="isAccepted($event)"></ion-checkbox>
                    <ion-label style="color: #22b573" (click)="goTO_terms()">{{ this.global_items.do_translation('I accept all terms & conditions')}}</ion-label>
                </ion-item>
            </div>


            <div style="margin-top:15px">
                <button ion-button color="#22B572" outline (click)="goback()">{{ this.global_items.do_translation('Cancel')}}</button>
                <button id="id_submit_button" margin-left="10px" class="main-btn" ion-button (click)="submit()" [disabled]="disable">{{ this.global_items.do_translation('Submit')}}</button>
            </div>


        </ion-list>
    </div>
</ion-content>