page-suggest-services {
    ion-item.item {
        background: transparent !important;
        padding: 0px !important;
        margin: 0px !important;
        border-bottom: none !important;
        box-shadow: none !important;
    }
    .item-inner {
        border-bottom-color: transparent !important;
        box-shadow: none !important;
    }
    .headstyle {
        text-align: right !important;
    }
}