multiple-image {
    .loader {
        border: 4px solid #e4e4e4;
        border-radius: 50%;
        border-top: 4px solid #27b573;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
        height: 100%;
        width: 100%;
    }
    /* Safari */
    @-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
        }
    }
    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    }
    [dir=rtl] multiple-image ul.list-inline.multiple-img {
        padding: 0px !important;
        text-align: center !important;
    }

    [dir=ltr] multiple-image ul.list-inline.multiple-img {
        padding: 0px !important;
        text-align: center !important;
    }