page-about-us {
    .scroll-content {
        padding: 8px !important;
        margin-top: 30px !important;
    }
    .rtl_text_style {
        text-align: right;
    }
    .about_us_direction {
        direction: ltr
    }
}