page-contact-us {
    .reg-box {
        background-color: #ffffff;
        border-radius: 3px;
        border: 1px solid rgba(153, 153, 153, 0.2);
        padding-left: 10px;
    }
    textarea.text-input.text-input {
        height: 170px;
    }
    .rtl_text_align {
        text-align: right
    }
}