page-profile-settings {
    .update-btn {
        width: 100% !important;
    }
    input#search_places {
        padding: 10px !important;
        border: 1px solid #ebebeb !important;
        border-radius: 5px !important;
        padding-left: 20px !important;
        margin-bottom: 15px;
    }
    input#search_places::placeholder {
        color: #999999 !important;
        font-weight: normal !important;
        font-size: 0.9em !important;
    }
}