<!--
  Generated template for the UpdatePasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <div class="back-box">
        <ion-grid no-padding>
            <ion-row no-padding>
                <ion-col col-2 (click)="goback()">
                    <p class="main icon-back"></p>
                </ion-col>
                <ion-col col-10>
                    <!--<p>Back</p>-->
                </ion-col>
            </ion-row>
        </ion-grid>

    </div>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row class="account-setting">
            <ion-col col-12>
                <p class="green-text border-btm">{{this.global_items.do_translation('Change Password')}}</p>

                <form [formGroup]="passForm" (ngSubmit)="onSave()">
                    <div class="form-group">
                        <div class="reg-box">
                            <p>
                                {{this.global_items.do_translation('Current Password')}}
                            </p>
                            <ion-input type="password" formControlName="current" placeholder=" {{this.global_items.do_translation('Current Password')}}"></ion-input>
                            <small *ngIf="isTouchInvalid('current')" class="text-custom-red">
            * {{this.global_items.do_translation('Required')}}
            </small>
                        </div>
                        <div class="reg-box">
                            <p>
                                {{this.global_items.do_translation('New Password')}}
                            </p>
                            <ion-input type="password" formControlName="new" placeholder="{{this.global_items.do_translation('New Password')}}"></ion-input>
                            <small *ngIf="isTouchInvalid('new')" class="text-custom-red">
            * {{this.global_items.do_translation('Required')}}
            </small>
                        </div>
                        <div class="reg-box">
                            <p>
                                {{this.global_items.do_translation('Confirm Password')}}
                            </p>
                            <ion-input type="password" formControlName="confirm" placeholder="Confirm Password"></ion-input>
                            <small *ngIf="pass_miss" class="text-custom-red">
            * {{this.global_items.do_translation('password mismatched')}}
            </small>
                        </div>
                    </div>
                    <div class="btn-wrapper m-t-10 text-right">
                        <button type="submit" class="update-btn">Update</button>
                    </div>
                    <div *ngIf="errors.length > 0" class="text-custom-red m-t-10">
                        <strong>{{this.global_items.do_translation('Validation Error')}}</strong>
                        <p *ngFor="let error of errors " class="m-t-10">{{error.message}}</p>
                        <p>{{this.global_items.do_translation('Something Went Wrong')}}.</p>
                    </div>
                </form>

            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>