page-privacy-and-policy {
    .list_style {
        color: #4e4e4e;
        border-bottom: 1px solid #9a9696;
    }
    .rtl_text_align {
        text-align: right
    }
    .ltr_icon_style {
        padding-right: 10px
    }
    .rtl_icon_style {
        padding-left: 10px
    }
}